@import "tailwindcss";

:root {
  --lightest: #86C232;
  --light: #61892F;
  --darkest: #222629;
  --darker: #474B4F;
  --dark: #6B6E70;
  --lessdark: #afb1b3;
}

@theme {
  --color-lightest: var(--lightest);
  --color-light: var(--light);
  --color-darkest: var(--darkest);
  --color-darker: var(--darker);
  --color-dark: var(--dark);
  --color-lessdark: var(--lessdark);

  --animate-modal: modal .3s ease-in-out;
  @keyframes modal {
    0% {
      transform: translate(0, 100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  --animate-modal-down: modalDown .3s ease-in-out;
  @keyframes modalDown {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }

  --animate-overlayer: overlayer .3s ease-in-out;
  @keyframes overlayer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: .7;
    }
  }

  --animate-overlayer-down: overlayerDown .3s ease-in-out;
  @keyframes overlayerDown {
    0% {
      opacity: .7;
    }
    100% {
      opacity: 0;
    }
  }
}

body {
  background: var(--darkest);
  color: var(--dark);
  font-family: var(--font-opensans), Arial, Helvetica, sans-serif;
}
